1st Conjecture - There can be at-least one prime factor that would be less than âˆšn in case of n is not a prime number.

2nd Conjecture - There can be AT-MOST 1 prime factor of n greater than sqrt(n)

In [ ]:
import math

In [ ]:
sqrroot = int(math.sqrt(1746786788707))

In [ ]:
print(sqrroot)

1321660

In [ ]:
for i in range(2,1746786788707):
  if(1746786788707%i == 0):
    print("not prime")
    break

not prime

In [ ]:
for i in range(3, sqrroot,2):
  if(1746786788707%i == 0):
    sqrroot = int(math.sqrt(1746786788707/i))
    print(i)
    break

1197347

In [ ]:
for i in range(sqrroot+1,1746786788707,2):
  if(1746786788707%i == 0):
    sqrroot = int(math.sqrt(1746786788707/i))
    print(i)
    break

1458881

In [ ]:
p = 1197347
q = 1458881
phi = (p-1)*(q-1)
e = 263
d = 1534247660087
n = p*q

In [ ]:
M = pow(1661993860336, d, n)
print(M)

9134511453